@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat&family=Roboto&family=Young+Serif&display=swap');

body {
    background-color: #FBF957;
    font-family: 'Gabarito', 'Montserrat';
    margin: 0 auto;
}

.header {
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 10px;
    background-color: #F63725;
    align-items: center;
    justify-content: flex-start;
}

.title {
    width: 300px;
}

.donate {
    background-color: #bbb;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(44, 44, 44);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.join-us {
    background-color: #bbb;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(44, 44, 44);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#menu {
    background-color: #bbb;
    padding: 5px;
    margin: 0;
    border: 1px solid rgb(44, 44, 44);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🔽";
}

img {
    max-width: 100%;
    max-height: auto;
}

.nav {
    display: none;
    background-color: #288D49;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.open {
    display: flex;
}

.nav li {
    width: 100px;
    list-style-type: none;
    cursor: pointer;
    padding: 15px;
    padding-left: 285px;
    padding-right: 299.5px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav li:hover {
    background-color: #1f773d;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgb(43, 43, 43);
}

.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

section {
    background-color: #FF7B6D;
    padding: 10px;
    margin: 5%;
    box-shadow: 1px 2px 2px rgb(43, 43, 43);
    text-align: justify;
}

section h2 {
    text-align: center;
    font-size: 22px;
}

.day-forecast p::after {
    content: " 🌧️";
}

.footer {
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-evenly;
    background-color: #F63725;
}