@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&family=Work+Sans:wght@300&display=swap');

body {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Inclusive Sans', 'Work Sans';
    height: 100vh;
    margin: 0;
}


main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

header {
    display: flow;
    text-align: center;
}

nav {
    display: block;
    padding: 2.5rem;
    text-align: left;
}

section {
    display: block;
}



ul {
    list-style-type: none;
}



.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



a {
    text-decoration: none;
    color: #3498db;
}



a:hover {
    color: #2980b9;
}